@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    
    --primary-color: #7d1fb4; 
    --secondary-color: #370d99; 
    --accent1-color: #06830c;
    --accent2-color: #88be07; 


    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    
    --nav-background-color: #f8f9fa;
    --nav-link-color: #333; 
    --nav-hover-link-color: #007bff;
    --nav-hover-background-color: #e9ecef;
}



p{
    font-family: var(--paragraph-font);
    font-size: 1em;
    color:var(--primary-color);
}

h1, h2 {
    font-family: var(--heading-font);
    font-size: 2em;
    color: var(--secondary-color);

}


a {
    text-decoration-line: none;
    color: var(--accent1-color);

}

main {
    max-width: 840px;
   
}

p {
   padding: 0;
}


h1 {
    position:absolute;
}

article {
    position:absolute;
    background-color: #333;
}

article img {
    float: right;
    margin: 0;
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
}


