@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    
    --primary-color: #7d1fb4; 
    --secondary-color: #370d99; 
    --accent1-color: #06830c;
    --accent2-color: #88be07; 


    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    
    --nav-background-color: #f8f9fa;
    --nav-link-color: #333; 
    --nav-hover-link-color: #007bff;
    --nav-hover-background-color: #e9ecef;
}




h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
    color: var(--primary-color);
  }
  
  p {
    font-family: var(--font-family);
    color: var(--primary-color);
  }
  

  a {
    color: var(--secondary-color);
  }
  
  .social-media-links a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
  }

  .article {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    z-index: 1;
  }
  

  .article img {
    float: right;
    margin-left: 20px; 
  }

