@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    /* Color Variables */
    --primary-color: #007bff; /* Blue */
    --secondary-color: #28a745; /* Green */
    --accent1-color: #ffc107; /* Yellow */
    --accent2-color: #dc3545; /* Red */

    /* Font Variables */
    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    /* Navigation Variables */
    --navigation-background-color: #f8f9fa; /* Light Gray */
    --navigation-link-color: #333; /* Dark Gray */
    --navigation-hover-link-color: #007bff; /* Blue */
    --navigation-hover-background-color: #e9ecef; /* Light Gray */
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

/* Grouping selector for all built-in headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration:none;
    padding: 1rem;
}

nav a:link {
    color: var(--nav-link-color);

}

nav a:visited{
    color: var(--nav-link-color);

}


nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


