* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}


nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: rgb(128, 16, 77);
    display: block;
    padding: 10px;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px rgb(19, 202, 58);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 46px;
    left: 150px;
}



main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(18, 134, 80);
    padding: 2px;
    box-shadow: 0 0 30px rgb(119, 20, 20);
    float: right;
}

p {
    margin: 1rem;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #20947b;
    text-align: center;
    
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rbg(21, 170, 108, 0.2);
    padding: 1rem;
    background-color: #0000ff;
    color: #333;
}

